<div class="container my-5">
  <h1>Enviar Foto</h1>

  <%= form_with model: @photo do |f| %>
    <div class="mb-3">
      <%= f.label :title, "Título" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :image, "Foto" %>
      <%= f.file_field :image, class: "form-control", accept: "image/*" %>
    </div>

    <%= f.submit "Enviar", class: "btn btn-primary" %>
  <% end %>
</div>